/* style.css */
:root {
  --background-gradient-start: #391414;
  --background-gradient-end: #263677;
  --text-color: #f0f0f0;
  --border-color: #555;
  --input-bg-color: #2c2c2c;
  --input-border-color: #444;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #0056b3;
  --button-text-color: #ffffff;
  --sprite-border-color: #ccc;
  --sprite-hover-border-color: #00eeff;
  --error-bg-color: #ffdddd;
  --error-text-color: #d8000c;
  --error-border-color: #d8000c;

  --sprite-size: 70px;
  --sprite-margin: 8px;
  --container-padding: 10px;
  --container-radius: 1em;
  --selected-border-size: 3px;

  --background-color: #202446;
  --section-bg-color: #2c3058;
  --text-color: #f0f0f0;
  --border-color: #4a4e7a;
  --title-color: #61dafb;
  --selection-border-color: var(--title-color);
  --icon-image: url('icons-item-recipes.webp');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: radial-gradient(circle farthest-corner at 50% 100%,
      var(--background-gradient-start) 0%,
      var(--background-gradient-end) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  min-height: 100vh;
  color: var(--text-color);
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin-bottom: 0px;
  text-align: center;
}

header h1 {
  color: #fff;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.beta {
  translate: -35px -20px;
  rotate: 35deg;
  color: #E22;
}

main {
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 1900px;
}

section {
  margin-bottom: 30px;
}

fieldset {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
}

legend {
  padding: 0 10px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2em;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

textarea,
input[type="text"] {
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--input-bg-color);
  padding: 10px;
  width: 100%;
  color: var(--text-color);
  font-family: monospace;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

button {
  transition: background-color 0.2s ease;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  padding: 10px 20px;
  color: var(--button-text-color);
  font-size: 1em;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

.upgrade-options h2 {
  margin-bottom: 20px;
  text-align: center;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 20px;
}

.sprite-selector-group .icon-grid,
.sprite-selector-group .selected-info {
  display: none;
}

.sprite-selector-group {
  border: 1px solid var(--border-color);
  border-radius: var(--container-radius);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px 10px;
  text-align: center;
}

.sprite-selector-group>p:first-child {
  margin-bottom: 10px;
  font-weight: bold;
}

.sprite-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border: 2px solid var(--sprite-border-color);
  border-radius: var(--container-radius);
  background-color: rgba(0, 0, 0, 0.2);
  padding: var(--container-padding);
  width: fit-content;
}

.sprite {
  opacity: 0.6;
  transition: opacity 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  margin: var(--sprite-margin);
  border: 1px solid transparent;
  border-radius: 8px;
  background-image: var(--icon-image);
  background-repeat: no-repeat;
  width: var(--sprite-size);
  height: var(--sprite-size);
  user-select: none;
}

.sprite:hover {
  transform: scale(1.05);
  opacity: 0.85;
}

.sprite.selected {
  opacity: 1;
}


.border {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  z-index: 1;
  transition: left 0.2s ease-out, opacity 0.15s ease-out;
  border: var(--selected-border-size) solid var(--sprite-hover-border-color);
  border-radius: 0.75em;
  width: calc(var(--sprite-size) + var(--sprite-margin));
  height: calc(var(--sprite-size) + var(--sprite-margin));
  pointer-events: none;
}

.selected-info {
  margin-top: 10px;
  min-height: 1.2em;
  font-size: 0.9em;
}

.error-message {
  margin: 20px 0;
  border: 1px solid var(--error-border-color);
  border-radius: 4px;
  background-color: var(--error-bg-color);
  padding: 15px;
  color: var(--error-text-color);
  text-align: center;
  white-space: pre-wrap;
}


footer {
  border-top: 1px solid var(--border-color);
  padding-top: 0.9em;
  color: #aaa;
  font-size: 0.9em;
  text-align: center;
}

.disclaimer-content p {
  margin: 0;
  padding: 10px 1.5em; /* Space for the close button */
  border-top: 1px solid var(--border-color);
  margin-top: 2em;
  color: #ccc;
  font-size: 0.8em;
}

.icon-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  padding: auto;
}

.item-icon {
  transition: transform 0.15s ease, opacity 0.2s ease;
  cursor: pointer;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(var(--sprite-size)/1.4);
  height: calc(var(--sprite-size)/1.4);
}

.recipe-display .item-icon {
  margin: 0;
}

.item-icon:hover:not(.disabled) {
  transform: scale(1.1);
  border-color: rgba(255, 255, 255, 0.5);
}

.item-icon.disabled {
  opacity: 0.2;
  filter: grayscale(80%);
  cursor: not-allowed;
}

.selection-border {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0.20s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.2s;
  box-shadow: 0 0 10px var(--selection-border-color);
  border: 3px solid var(--selection-border-color);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.selector-section {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--section-bg-color);
  padding: 20px;
}

.selector-section h2 {
  margin-top: 0;
  color: var(--title-color);
  text-align: center;
}

.recipe-display {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: background-color 0.15s, border-color 0.15s;
  cursor: pointer;
  margin: 10px auto;
  border: 1px dashed transparent;
  border-radius: var(--container-radius);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
}



.recipe-display:hover {
  border-color: var(--border-color);
  background-color: rgba(0, 0, 0, 0.4);
}

.recipe-display .item-icon {
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  width: --sprite-size;
  height: --sprite-size;
}

.recipe-display span {
  font-weight: bold;
  font-size: 1.2em;
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.15s;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modal-container.visible {
  opacity: 1;
  pointer-events: auto;
}

.recipe-selection-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 10px;
}

.modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: width 0.15s ;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--section-bg-color);
  padding: 20px 30px 30px 30px;
  width: 75vw;
  min-width: 500px;
  max-height: 90vh;
}

.alternate-recipe-selector {
  flex-shrink: 0;
  margin: 0 !important;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--title-color);
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  opacity: 0.7;
  transition: opacity 0.15s;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  color: var(--text-color);
  font-size: 2em;
  line-height: 1;
}

.modal-close:hover {
  opacity: 1;
}

.modal-content .icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}